[Unit]
Description=Rockclock - Motorsport timer to Rockblock bridge

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/rockclock
Restart=on-failure

[Install]
WantedBy=multi-user.target
